* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Arial', sans-serif;
            scroll-behavior: smooth;
        }

        body {
        width: 100%;
            font-size: 18px;
            line-height: 1.6;
            color: #333;
            background: #f4f4f9;
        }

        header {
            position: fixed;
            top: 0;
            width: 100%;
            background: #fff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

        .container {
            width: 90%;
            margin: 0 auto;
            max-width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }

        .logo {
            font-size: 28px;
            font-weight: bold;
            color: #3498db;
            cursor: pointer;
        }

        .nav-menu {
            list-style: none;
            display: flex;
        }

        .nav-menu li {
            margin: 0 15px;        
        }

        .nav-menu Li a {
            text-decoration: none;
            color: #333;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background 0.3s, color 0.3s;
        }

        .nav-menu a:hover {
            background: #3498db;
            color: #fff;
        }

        .nav-icon {
            display: none;
            cursor: pointer;
        }

        .nav-icon .bar {
            width: 25px;
            height: 3px;
            background: #333;
            margin: 5px 0;
            transition: all 0.3s ease-in-out;
        }

        section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
            padding: 100px 0;
            min-height: 100vh;
        }

        .home {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/main/home_bg.png') no-repeat center center/cover;
            color: #fff;
            text-align: center;
            padding: 150px 10px;
        }

        .home h1 {
            font-size: 48px;
            margin-bottom: 20px;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        }

        .home p {
            font-size: 24px;
            line-height: 1.5;
        }

        .about, .glasses {
            text-align: center;
            background: #fff;
            margin: 20px auto;
            padding: 80px 10px 30px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .about img, .glasses img {
            max-width: 100%;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .glasses .content {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }

        .glasses .card {
            background: #f9f9f9;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
        }

        .glasses .card:hover {
            transform: scale(1.05);
        }

         .contact {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/main/contact_bg.png') no-repeat center center/cover;
            color: #fff;
            text-align: center;
            padding: 150px 20px;
        }
        
        .contact form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap:10px;
            column-gap: 3px;
            align-items: right;
            width: 80%;
            padding: 10px;
            border-radius: 10px;
            max-width: 500px;
            background:#191f2555;
            backdrop-filter: blur(10px);
        }
        
        .contact form input, textarea{
            padding: 2px 5px;
            border-radius: 5px;
            resize: vertical;
        }
        .contact form input[type="submit"]{
            gird-column: 1 / 2;
            border: none;
            background: #f4f4f9;
            color: #3498db;
        }
        
        footer {
            background: #333;
            color: #fff;
            text-align: center;
            padding: 25px 10px 0px;
        }

        footer a {
            color: #3498db;
            margin: 0 10px;
            text-decoration: none;
            font-size: 15px;
        }

        footer a:hover {
            color: #def;
        }

        @media (max-width: 768px) {
            .nav-menu li{
                width: 100%;
                margin: 0;
                text-align: center;
            }
            .nav-menu {
                display: none;
                flex-direction: column;
                background: #fff;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                position: absolute;
                top: 70px;
                left: 0;   
                width: fit-content;
                max-width: 100%;
                border-radius: 10px;
                overflow: hidden;
            }

            .nav-menu.active {
                display: flex;
            }

            .nav-icon {
                display: block;
            }
        }
